@font-face {
    font-family: 'Yugen';
    src: url("../assets/fonts/Hyperspace\ Bold.otf");
}
*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    margin: 0;
    background: rgb(11, 11, 11);
    color: white;
    font-family: sans-serif;
    text-align: center;
}
#menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(11, 11, 11, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 12;
}
#menu h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}
#menu-pause {
    display: none;
}
#menu img {
    max-width: 200px;
}
#game {
    position: relative;
    width: 400px;
    height: 600px;
    margin: 30px auto;
    background: black;
    border: 2px solid #fff;
    display: flex;
    opacity: 0.3;
    transition: opacity 0.5s ease;
}
#game.ativo {
    opacity: 1;
}
.column {
    flex: 1;
    border-left: 1px solid black;
    position: relative;
    overflow: hidden;
}
/* 
    Position absolute serve pra nota não "acumular" no playfield.
    Quando você acerta uma nota, ela deixa de existir . Mas,
    Se você usar o relative, quando ela sumir a posição muda também no meio do jogo.
    Não troque esse valor. Eu perdi duas noites de sono tentando resolver isso de todas as maneiras. 
*/
.nota {
    position: absolute;
    width: 100%;
    height: 50px;
    background: white;
    top: 0;
    border: 3px solid red;
    z-index: 1;
}
.nota1{
    background: cyan;
}
#hit-zone {
    position: absolute;
    bottom: 60px;
    left: 0;
    width: 100%;
    height: 5px;
    background: red;
    z-index: 1;
}
.transition {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s .6s, opacity .6s linear;
    animation: deblur;
    animation-duration: .6s;
}
@keyframes deblur {
    0% { filter: blur(0); }
    100% { filter: blur(7px);}
}
#top-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 5;
    pointer-events: none;
    background: linear-gradient(to bottom, #111 80%, transparent);
}
#combo {
    position: absolute;
    top: 110px;
    z-index: 6;
    width: 100%;
    font-family: 'Yugen';
    font-size: 2.5rem;
}
#hit {
    position: absolute;
    top: 150px;
    width: 100%;
    z-index: 5;
}
#beatline {
    position: absolute;
    width: 100%;
    height: 5px;
    background: gray;
    z-index: 0;
}
#score {
    font-family: 'Yugen';
    position: absolute;
    top:30px;
    right: 40px;
    font-size: 1.5rem;
    text-align: right;
}
#pontuacao {
    font-size: 2rem;
}

/* .feedback {
    position: absolute;
    bottom: 60px;
    font-size: 24px;
    color: white;
    animation: subirDesaparecer 0.8s ease forwards;
    pointer-events: none;
}

.feedback.miss { color: red; }
.feedback._50 { color: gray; }
.feedback._100 { color: blue; }
.feedback._200 { color: purple; }
.feedback._300 { color: gold; }

@keyframes subirDesaparecer {
    0% { opacity: 1; transform: translateY(0); }
    100% { opacity: 0; transform: translateY(-30px); }
} */