@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');

@font-face {
    font-family: 'Yugen';
    src: url("../assets/fonts/Hyperspace\ Bold.otf");
}

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    margin: 0;
    background: rgb(11, 11, 11);
    color: white;
    font-family: sans-serif;
    text-align: center;
    background-size: cover;
    background-position: center;
}

#title {
    padding-top: 30px;
}

#menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(11, 11, 11, 0.9);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 12;
    padding: 0 45px;
}

#menu h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

#menu-pause {
    display: none;
}

#menu img {
    max-width: 200px;
}

#game {
    position: relative;
    width: 400px;
    height: 100vh;
    margin: 0 auto;
    background: black;
    border: 2px solid #fff;
    display: flex;
    opacity: 0.3;
    transition: opacity 0.5s ease;
}

#game.ativo {
    opacity: 1;
}

.column {
    flex: 1;
    border-left: 1px solid black;
    position: relative;
    overflow: hidden;
}

/* 
    Position absolute serve pra nota não "acumular" no playfield.
    Quando você acerta uma nota, ela deixa de existir . Mas,
    Se você usar o relative, quando ela sumir a posição muda também no meio do jogo.
    Não troque esse valor. Eu perdi duas noites de sono tentando resolver isso de todas as maneiras. 
*/
.nota {
    position: absolute;
    width: 100%;
    height: 50px;
    background: white;
    top: 0;
    z-index: 1;
}

.nota1 {
    background: cyan;
}

#hit-zone {
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 100%;
    /* height: 5px;
    background: red; */
    z-index: 1;
}

#hit-zone img {
    width: 100%;
}

.transition {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s .6s, opacity .6s linear;
    animation: deblur;
    animation-duration: .6s;
}

@keyframes deblur {
    0% {
        filter: blur(0);
    }

    100% {
        filter: blur(7px);
    }
}

#top-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 5;
    pointer-events: none;
    background: linear-gradient(to bottom, #111 80%, transparent);
}

#combo {
    position: absolute;
    top: 110px;
    z-index: 6;
    width: 100%;
    font-family: 'Yugen';
    font-size: 2.5rem;
}

#hit {
    position: absolute;
    top: 150px;
    width: 100%;
    z-index: 5;
}

#beatline {
    position: absolute;
    width: 100%;
    height: 5px;
    background: gray;
    z-index: 0;
}

#score {
    font-family: 'Yugen';
    position: absolute;
    top: 30px;
    right: 40px;
    font-size: 1.5rem;
    text-align: right;
}

#pontuacao {
    font-size: 2rem;
}

.push {
    animation: pulse 0.2s linear 1;
}

@keyframes push {
    50% {
        transform: scale(0.8);
    }
}

.head {
    font-family: 'JetBrains Mono';

    left: 30px;
    text-align: left;
}

.song-list {
    width: 50%;

    right: 0;
    padding: 20px;
    background: #111;
    color: white;
    font-family: sans-serif;
}

.song {
    margin-bottom: 10px;
    padding: 10px;
    background: #222;
    border-left: 5px solid orange;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s;
}

.song:hover {
    background: #333;
}

.song-title {
    font-size: 18px;
    font-weight: bold;
}

.song-artist {
    font-size: 14px;
    color: #aaa;
}

.difficulty-list {
    margin-top: 10px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.difficulty {
    background: #1b1b1b;
    padding: 8px;
    border-left: 4px solid #0af;
    border-radius: 4px;
    cursor: pointer;
    opacity: 0;
    animation: fadeInSlide 0.3s ease forwards;
}

@keyframes fadeInSlide {
  from {
    opacity: 0;
    transform: translateX(-10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.difficulty:hover {
    background: #2c2c2c;
}

/* .feedback {
    position: absolute;
    bottom: 60px;
    font-size: 24px;
    color: white;
    animation: subirDesaparecer 0.8s ease forwards;
    pointer-events: none;
}

.feedback.miss { color: red; }
.feedback._50 { color: gray; }
.feedback._100 { color: blue; }
.feedback._200 { color: purple; }
.feedback._300 { color: gold; }

@keyframes subirDesaparecer {
    0% { opacity: 1; transform: translateY(0); }
    100% { opacity: 0; transform: translateY(-30px); }
} */